.createButton {
    margin-bottom: 3px;
}

.templateContainer {
    width: 40%;
}

.entitySeparator {
    margin-bottom: 10px;
    clear:both;
}

.recordSeparator {
    margin-bottom: 2px;
}

.recordDeselected {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: transparent;
}

.recordSelected {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: green;
}